# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weatherpy_df = pd.read_csv("weatherpy.csv")
weatherpy_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,faanui,12,PF,1584246943,77,-16.48,-151.75,82.90,11.43
1,kapaa,1,US,1584246943,64,22.08,-159.32,75.20,11.41
2,hobyo,78,SO,1584246944,74,5.35,48.53,82.06,13.89
3,bakchar,95,RU,1584246905,90,57.02,82.07,35.67,11.83
4,puerto ayora,2,EC,1584246944,80,-0.74,-90.35,79.00,5.01

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#  Drop any rows with missing data and show the counts for each column

weatherpy_df = weatherpy_df.dropna()
weatherpy_df.count()

City          552
Cloudiness    552
Country       552
Date          552
Humidity      552
Lat           552
Lng           552
Max Temp      552
Wind Speed    552
dtype: int64

In [4]:
# pull out humidity for using in the map
humidity = weatherpy_df['Humidity'].astype(float)
humidity.head()

0    77.0
1    64.0
2    74.0
3    90.0
4    80.0
Name: Humidity, dtype: float64

In [ ]:
#humidity.describe()

In [5]:
# pull out latitude and Longitude for using in the map
lat_lng = weatherpy_df[['Lat','Lng']]
lat_lng.describe()

              Lat         Lng
count  552.000000  552.000000
mean    20.732790   13.669547
std     32.719537   91.045623
min    -54.800000 -179.170000
25%     -6.122500  -65.252500
50%     25.925000   19.095000
75%     47.632500   89.210000
max     78.220000  178.420000

In [6]:
lat_lng = lat_lng.astype(float)
lat_lng.describe()

              Lat         Lng
count  552.000000  552.000000
mean    20.732790   13.669547
std     32.719537   91.045623
min    -54.800000 -179.170000
25%     -6.122500  -65.252500
50%     25.925000   19.095000
75%     47.632500   89.210000
max     78.220000  178.420000

In [7]:
# Create the heat map using longitude/latitude and humidity

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(lat_lng, weights = humidity, dissipating=False, 
                                max_intensity=max(weatherpy_df["Humidity"]), point_radius = 2)
fig.add_layer(heat_layer)
plt.savefig("heatmap.png", format="png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
# create a new dataframe with only locations with ideal weather
ideal_weather_df = weatherpy_df

ideal_weather_df = ideal_weather_df.loc[(ideal_weather_df["Max Temp"] < 90) & (ideal_weather_df["Max Temp"]> 60)]
ideal_weather_df = ideal_weather_df.loc[(ideal_weather_df["Cloudiness"] < 30)]
ideal_weather_df = ideal_weather_df.loc[(ideal_weather_df["Wind Speed"] < 20)]
ideal_weather_df = ideal_weather_df.loc[(ideal_weather_df["Humidity"] < 50)]

ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
111,kidal,0,ML,1584247068,14,18.44,1.41,70.25,10.92
139,jalu,24,LY,1584247123,36,29.03,21.55,64.00,6.85
160,victoria,20,HK,1584247132,46,22.29,114.16,75.99,5.82
199,hukuntsi,0,BW,1584247189,46,-24.00,21.75,76.37,6.40
206,umm lajj,0,SA,1584247190,48,25.02,37.27,67.23,6.80
244,atar,0,MR,1584247248,14,20.52,-13.05,65.32,7.02
245,waddan,0,LY,1584247248,24,29.16,16.14,63.79,5.46
352,ouallam,0,NE,1584247371,15,14.32,2.09,72.09,10.78
362,zhoucheng,0,CN,1584247423,19,35.91,116.31,65.95,9.93
398,tongzhou,0,CN,1584247437,21,39.91,116.60,63.00,8.95
408,arlit,0,NE,1584247484,17,18.74,7.39,63.93,4.52
423,marzuq,25,YE,1584247488,34,14.40,46.47,79.54,1.90
436,awjilah,24,LY,1584247491,36,29.11,21.29,64.00,6.85
451,tessalit,16,ML,1584247496,14,20.20,1.01,70.14,12.30
501,renqiu,0,CN,1584247453,18,38.70,116.09,63.77,3.49

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
hotel_df = ideal_weather_df
hotel_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
111,kidal,0,ML,1584247068,14,18.44,1.41,70.25,10.92
139,jalu,24,LY,1584247123,36,29.03,21.55,64.00,6.85
160,victoria,20,HK,1584247132,46,22.29,114.16,75.99,5.82
199,hukuntsi,0,BW,1584247189,46,-24.00,21.75,76.37,6.40
206,umm lajj,0,SA,1584247190,48,25.02,37.27,67.23,6.80

In [18]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = { 
    "radius": 5000,
    "types": 'lodging',
    "key": g_key}
    
for x, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row['Lng']
    
    params["location"] = f"{lat},{lng}"
    response = requests.get(base_url, params=params).json()
    
#   print(json.dumps(response, indent=4, sort_keys=True))
    
    lodging = response['results']
    
    try:
        print(f"You will love this hotel: {lodging[0]['name']}")
        hotel_df.loc[x, 'Hotel Name'] = lodging[0]['name']       
              
    except (KeyError, IndexError): 
        print("Skipping - error")

Skipping - error
You will love this hotel: Jalu Hotel
You will love this hotel: Mini Hotel Central
You will love this hotel: Entabeni Hotel
You will love this hotel: Tanal Hotel Apartment
You will love this hotel: Oumou Elghoura
You will love this hotel: محل الشريف محمد العايب
Skipping - error
You will love this hotel: Yingbin Restaurant
You will love this hotel: Inner Mongolia Hotel
You will love this hotel: Hôtel Telwa Bungalow
Skipping - error
Skipping - error
Skipping - error
You will love this hotel: City Garden Renqiu Meishicheng Store

In [19]:
# Display dataframe with new 'hotel name' column

hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
111,kidal,0,ML,1584247068,14,18.44,1.41,70.25,10.92,NaN
139,jalu,24,LY,1584247123,36,29.03,21.55,64.00,6.85,Jalu Hotel
160,victoria,20,HK,1584247132,46,22.29,114.16,75.99,5.82,Mini Hotel Central
199,hukuntsi,0,BW,1584247189,46,-24.00,21.75,76.37,6.40,Entabeni Hotel
206,umm lajj,0,SA,1584247190,48,25.02,37.27,67.23,6.80,Tanal Hotel Apartment
244,atar,0,MR,1584247248,14,20.52,-13.05,65.32,7.02,Oumou Elghoura
245,waddan,0,LY,1584247248,24,29.16,16.14,63.79,5.46,محل الشريف محمد العايب
352,ouallam,0,NE,1584247371,15,14.32,2.09,72.09,10.78,NaN
362,zhoucheng,0,CN,1584247423,19,35.91,116.31,65.95,9.93,Yingbin Restaurant
398,tongzhou,0,CN,1584247437,21,39.91,116.60,63.00,8.95,Inner Mongolia Hotel
408,arlit,0,NE,1584247484,17,18.74,7.39,63.93,4.52,Hôtel Telwa Bungalow
423,marzuq,25,YE,1584247488,34,14.40,46.47,79.54,1.90,NaN
436,awjilah,24,LY,1584247491,36,29.11,21.29,64.00,6.85,NaN
451,tessalit,16,ML,1584247496,14,20.20,1.01,70.14,12.30,NaN
501,renqiu,0,CN,1584247453,18,38.70,116.09,63.77,3.49,City Garden Renqiu Meishicheng Store

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
locations = hotel_df[["Lat", "Lng"]]
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)

# Create hotel symbol layer
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info)

In [22]:

# Display Heat Map with hotel markers
fig.add_layer(markers)
fig.add_layer(hotel_layer)

# Save and Display figure
plt.savefig("hotel_map.png", format='png')

fig

Figure(layout=FigureLayout(height='420px'))